<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: navMenu"></header>

<h2 th:text="${storefrontProduct.storefront.name}"></h2>
<h2>Products:</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Id</th>

    </tr>
    </thead>
    <tr th:each="product : ${storefrontProduct.storefront.products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.id}"></td>
    </tr>
</table>

<h2 th:text="'Delete product from ' + ${storefrontProduct.storefront.name}"></h2>
<form action="delete-product" method="post" >
    <div class="form-group">
        <input type="hidden" th:field="${storefrontProduct.storefront}">
        <select th:field = "${storefrontProduct.product}">
            <option th:each = "product : ${storefrontProduct.storefront.products}"
                    th:value = "${product.id}"
                    th:text = "${product.name}">

            </option>
        </select>
    </div>
    <input type="submit" class="btn btn-danger" value="delete">
</form>
<h2 th:text="'Add product to ' + ${storefrontProduct.storefront.name}"></h2>
<form method="post">
    <div class="form-group">
        <input type="hidden" th:field="${storefrontProduct.storefront}">
        <select th:field = "${storefrontProduct.product}">
            <option th:each = "product : ${products}"
                    th:value = "${product.id}"
                    th:text = "${product.name}">

            </option>
        </select>
    </div>
    <input type="submit" class="btn btn-success" value="Add Product">
</form>

</body>
</html>