.column {
  padding-top: 100px;
  text-align: center;
  height: 300px;
  width: 25%;
}

.column a {
color: #000000;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.contain {
  padding: 10px 0px 0px 2px;
  width: 100%;
  background: black;
  display: inline-block;
  border: 5px solid black;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  grid-gap: 5px;
}
.cell {
   /* center the cell content */
   height: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  background: white;
}