<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="header">
<meta charset="UTF-8"/>
<title>Inventory Track</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<header style="background-color: #000000;" th:fragment="navMenu">
    <h1 style="display: inline-block; color: #ffffff; padding: 0 0 0 10px;">Inventory Track</h1>
    <ul class="nav nav-pills" style="float: right; padding: 7px 0 0 10px;">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Sign In</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Sign Out</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>

    </ul>
</header>