<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: navMenu"></header>



<h2 style="text-align: center; padding: 50px 0 0 0;">Storefronts</h2>

<div class="contain">

    <div class="grid" style="margin-top: -85px;">
        <div class="cell" style="cursor: pointer; margin-top: 85px;" th:each="storefront : ${storefronts}" th:onclick="'javascript:rowClicked(\'shop?storefrontId=' + ${storefront.id} + '\');'">
            <h2 th:text="${storefront.name}"></h2>
        </div>

    </div>
</div>

<script>
    function rowClicked(value) {
        location.href = value;
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>