<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <meta charset="UTF-8"/>
    <title>Inventory Track</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<header>
    <h1 style="float: left;">Inventory Track</h1>
    <ul class="nav nav-tabs" style="float: right;">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login/ Out</a></li>
    </ul>
</header>


<h2>Storefronts</h2>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Products</th>
    </tr>
    </thead>

    <tr th:each="storefront : ${storefronts}" style="cursor: pointer;" th:onclick="'javascript:rowClicked(\'add-product?storefrontId=' + ${storefront.id} + '\');'">
        <td th:text="${storefront.name}"></td>
        <td th:text="${storefront.description}"></td>
        <td th:text="${storefront.products}"></td>
    </tr>
</table>
<script>
    function rowClicked(value) {
        location.href = value;
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>