<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: navMenu"></header>



<h2 style="text-align: center; padding: 50px 0 0 0;" th:text="${storefront.name}"></h2>

<div class="contain">

    <div class="grid">
        <div class="cell" style="cursor: pointer; display: block;" th:each="product : ${products}">
            <h2 th:text="${product.name}"></h2>
            <p th:text="'Quantity: ' + ${product.quantity}" style="font-size: 14px;"></p>
            <button type="button" value="Buy Now" th:onclick="${product.buyNow()}">Buy Now</button>
        </div>

    </div>
</div>

<script>
    function buyNow(Integer id)
    {
    product = ProductRepository.findById(id);
    product.quantity--;
    ProductRepository.save(product)
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>